<div class="list-group">
  <%= link_to issue_path(@issue) do %>
    <div class="list-group-item">
      <%= image_tag @issue.photos.first.url.url, class: "img-responsive center-block img-rounded", alt: @issue.title %>
    </div>
  <% end %>
  <div class="list-group-item">
    <h1 class="list-group-item-heading"><%= @issue.title %></h1>
    <p><%= @issue.description %></p>
    <hr />
    <p class="list-group-item-text">Created by:</p>
    <h4 class="list-group-item-heading"><%= @issue.submitter_name %></h4>
    <p class="list-group-item-text">Category:</p>
    <h4 class="list-group-item-heading"><%= @issue.category.capitalize %></h4>
    <p class="list-group-item-text">Severity:</p>
    <h4 class="list-group-item-heading"><%= @issue.severity.capitalize %></h4>
    <p class="list-group-item-text">Coordinates:</p>
    <h4 class="list-group-item-heading">(<%= @issue.latitude.round(4) %>, <%= @issue.longitude.round(4) %>)</h4>
    <p class="list-group-item-text">Status:</p>
    <h4 class="list-group-item-heading"><%= @issue.resolved_status %></h4>
  </div>
</div>
